@import "tailwindcss";

/* App theme variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Base styles */
body {
  background-color: var(--background);
  color: var(--foreground);
}
