@import "tailwindcss";

/* CSS variables only */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Let Tailwind control text colors */
body {
  background-color: var(--background);
}
